@for(item of inputListItems; track item){
  <label class="input-label-text" [for]="item.id">
    <input
      type="checkbox"
      #inputCheckbox [checked]="item.checked"
      (input)="updateItemCheckbox(inputCheckbox.checked, item.id)"
    />
    <input
      type="text"
      #inputValue [value]="item.value"
      [id]="item.id"
      placeholder="Adicione um valor"
      autofocus
      (input)="updateItemText(inputValue.value, item.id)"
    />
    <button
      (click)="deleteItemText(item.id)"
      class="btn btn-danger-circle"
      title="Delete este item"
    ></button>
  </label>
}
